body {
    font-family: 'Arial', sans-serif;
}

.btn-3d {
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.btn-3d:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

pre {
    white-space: pre-wrap;  /* Preserve spaces and line breaks */
    word-wrap: break-word;
}
